<%- include("partials/head.ejs") %>
<% if (ev) { %>
    <h2>Edit EV</h2>
<% } else { %>
    <h2>Create EV</h2>
<% } %>
<% if (errors) { errors.forEach((err)=> { %>
    <div>
      Error: <%= err %>
    </div>
    <% }) } %>
<form method="POST" action="<%= ev ? '/evs/update/' + ev.id : '/evs' %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <div>
        <label for="year">year:</label>
        <input name="year" value="<%= ev ? ev.year : 2025 %>" type="number" id="year" />
    </div>
    <div>
        <label for="make">make:</label>
        <input name="make" value="<%= ev ? ev.make : '' %>" type="text" id="make" />
    </div>
    <div>
        <label for="model">model:</label>
        <input name="model" value="<%= ev ? ev.model : '' %>" type="text" id="model" />
    </div>
    <div>
        <label for="status">status:</label>
        <select name="status" id="status">
            <option value="unknown" <%= ev && ev.status === 'unknown' ? 'selected' : '' %>>unknown</option>
            <option value="credit eligible" <%= ev && ev.status === 'credit eligible' ? 'selected' : '' %>>credit eligible</option>
            <option value="not credit eligible" <%= ev && ev.status === 'not credit eligible' ? 'selected' : '' %>>not credit eligible</option>
        </select>        
    </div>
    <% if (ev) { %>
        <button>Update</button>
    <% } else { %>
        <button>Create</button>
    <% } %>
    <a href="/evs">
        <button type="button">Cancel</button>
    </a>
</form>