<%- include("partials/head.ejs") %>
    <h2>EV List</h2>

    <a href="/evs/new">
        <button type="button" class="addNewEvButton">Add New EV</button>
    </a>

    <table id="evs-table">
        <tr id="evs-table-header">
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Tax Credit Status</th>
            <th>Last Updated</th>
            <th colspan="2"></th>
        </tr>
        <% if (evs && evs.length) { %>
            <% evs.forEach((ev)=> { %>
                <tr>
                    <td>
                        <%= ev.year %>
                    </td>
                    <td>
                        <%= ev.make %>
                    </td>
                    <td>
                        <%= ev.model %>
                    </td>
                    <td>
                        <%= ev.status %>
                    </td>
                    <td>
                        <%= ev.formattedLastUpdated %>
                    </td>
                    <td>
                        <a href="/evs/edit/<%= ev.id %>">
                            <button type="button">edit</button>
                        </a>
                    </td>
                    <td>
                        <form method="POST" action="/evs/delete/<%= ev.id %>" style="display: inline">
                            <button type="submit">delete</button>
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        </form>
                    </td>
                </tr>
                <% }) %>
                    <% } %>
    </table>

    <a href="/">
        <button type="button" class="homeButton">Home</button>
    </a>